@charset "UTF-8";
$gradationBG: linear-gradient(180deg, rgba(47,45,45,1) 0%, rgba(37,35,35,1) 48%, rgba(24,23,23,1) 100%);
$gradationBG2: linear-gradient(180deg, rgb(30, 30, 30) 0%, rgb(21, 21, 21) 48%, rgb(12, 12, 12) 100%);
$greenCL: #00DE64;
body{
  position: relative;
  background: $gradationBG;
  height: 100%;
  z-index: -2;
}
main{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.box1{
  position: relative;
  margin: 70px auto 130px auto;
  width: 45%;
  z-index: -2;
}
#RegForm{
  position: relative;
  z-index: -2;
  background: $gradationBG2;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  hr{
    margin: 20px 0;
    width: 100%;
  }
  .FormBox{
    margin-top: 10px;
    width: 98%;
    .formtext{
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
      margin: 20px 0;
    }
    .UploadBox{
      display: flex;
      justify-content: center;
    }
    .InputText{
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: 1px solid $greenCL;
      background-color: #4e4e4e;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.ImageForm{
  width: 100%;
  display: flex;
  align-items: flex-end;
    .UploadImageBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      #FilenameText{
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
      }
      p{
        height: 30px;
        width: 180px;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 5px;
        padding: 5px;
        border-radius: 5px;
        background-color: #000000;
        border: 1px solid $greenCL;
        label{
          display: none;
        }
        #id_image{
          left: 0;
          top: 0;
          position: absolute;
          opacity: 0;
          height: 100%;
          width: 100%;
        }
      }
      p::after{
        content: '画像をアップロードする';
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: bold;
        color: $greenCL;
        margin-top: 5px;
      }
  }
}
.NewUserIcon{
  width: 150px;
  height: 150px;
  margin: 0 5px;
  border: 1px solid #b7b7b7;
}
.linkbox{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 15px;
  .descText{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin: 0 20px 3px;
    a{
      margin: 0 10px;
    }
  }
}
.SubBTBox{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .box1{
    width: 100%;
  }
  #RegForm{
    padding: 30px 0;
  }
  .ImageForm{
    flex-direction: column;
    align-items: center;
    .UploadImageBox{
      margin-top: 20px;
    }
  }
}