@charset "UTF-8";
$gradationBG: linear-gradient(180deg, rgba(47,45,45,1) 0%, rgba(37,35,35,1) 48%, rgba(24,23,23,1) 100%);
$greenCL: #00DE64;

.p-h1{
    color: $greenCL;
}
.p-title{
    text-align: center;
}
.p-main{
    border-radius: 10px;
    background-color: $gradationBG;
}
.p-descreption{
    p{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
}
form{
    text-align: center;
    input{
        background-color: $greenCL;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        &:hover{
            color: white;
        }
    }
    p{
        color: white;
        font-weight: lighter;
    }
}