@charset "UTF-8";
$gradationBG: linear-gradient(180deg, rgba(47,45,45,1) 0%, rgba(37,35,35,1) 48%, rgba(24,23,23,1) 100%);
$greenCL: #00DE64;
$redCL: #f74747;
.FormBox{
    position: relative;
}
.PassAlert{
    position: absolute;
    color: $redCL;
    font-weight: bold;
    left: 0;
    bottom: 50px;
    z-index: -1;
    transition: 0.2s;
    opacity: 0;
}
#PassLook{
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 1;
    img{
        width: 30px;
        height: 30px;
    }
}
.PassOn{
    opacity: 1;
    transform: translateY(-2px);
}
.linkbox{
    flex-direction: row;
}