$greenCL:#00de64;
$white: white;
$gradationBG: linear-gradient(180deg, rgba(47,45,45,1) 0%, rgba(37,35,35,1) 48%, rgba(24,23,23,1) 100%);

.title{
    text-align: center;
    h2{
        color: $greenCL;
        font-size: 64px;
    }
}
.tags{
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    .tag{
        background-color: $gradationBG;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
        margin: 5px 10px;
        .tag-num{
            color: white;
        }
    }
    .tag:hover{
        opacity: 0.5;
    }
}
form{
    .music-tags{
        margin: 100px;
        .tag{
            margin: 0 0 0 50px;
            font-size: 32px;
        }
    }
    .search-form{

        justify-content: center;
        padding: 0;
        margin: 0;
        display: flex;
        height: 50px;
        .search-input{
            width: 900px;
            height: 100%;
            border-radius: 10px;
            font-size: 50px;
            padding: 10px;
        }
        .search-button{
            width: 100px;
            height: 74px;
            font-size: 40px;
            border-radius: 10px;
        }
        .search-input:focus{
            outline: none;
        }
    }
}