main {
  margin-top: 70px;
  padding-bottom: 70px;
  width: 99%;
  display: flex; }

#box1, #box2 {
  margin: 0 5px; }

#box1 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  #box1 p {
    margin-top: 32px; }
  #box1 .artist {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #box1 .artist img {
      margin-top: 10px;
      width: 240px;
      height: 240px;
      border-radius: 5px;
      border: 2px solid #696969; }
    #box1 .artist p {
      margin: 0 10px; }
  #box1 .RelatedArtist {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; }
    #box1 .RelatedArtist .RArtistBox {
      display: flex;
      height: 60px;
      width: 98%;
      margin: 3px 0;
      background: #2f2d2d;
      background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%);
      border-radius: 10px;
      border: solid 2px #323232;
      align-items: center;
      transition: 0.3s; }
      #box1 .RelatedArtist .RArtistBox .RArtist {
        height: 45px;
        width: 45px; }
        #box1 .RelatedArtist .RArtistBox .RArtist img {
          margin: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid #00DE64; }
      #box1 .RelatedArtist .RArtistBox .ArtistNameText {
        margin-left: 10px;
        font-size: 18px; }
    #box1 .RelatedArtist .RArtistBox:hover {
      transform: scale(1.01, 1.01); }
  #box1 .RelatedArtist::-webkit-scrollbar {
    display: none; }

#box2 {
  width: 70%; }

.album {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }

.albumbox {
  margin: 2px 6px;
  padding: 10px;
  background: #2f2d2d;
  background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%);
  border-radius: 10px;
  border: solid 2px #323232;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: 0.3s; }

.albumbox:hover {
  transform: scale(1.01, 1.01); }

.album::-webkit-scrollbar {
  height: 10px; }

.album::-webkit-scrollbar-track {
  background-color: none; }

.album::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 10px; }

.artist-flex {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.album_img {
  width: 80px;
  height: 80px;
  border: 2px solid #696969;
  border-radius: 5px; }

.AlbumNameBox {
  width: 100%; }
  .AlbumNameBox hr {
    background-color: #696969;
    width: 100%;
    height: 2px;
    border: none; }

.AlbumNameText {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  margin: 2px 5px; }
  .AlbumNameText a {
    transition: 0.2s;
    color: #ffffff; }
  .AlbumNameText a:hover {
    color: #00DE64; }

.AlbumNameTextMini {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 2px 5px; }

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column; }

  #box1, #box2 {
    width: 95%;
    margin-bottom: 20px; }

  #box1 .RelatedArtist {
    height: 150px; } }

/*# sourceMappingURL=artist.css.map */
