@charset "UTF-8";
main {
  height: 70vh;
  display: flex; }

#box1 {
  width: 28%;
  height: 106%; }
  #box1 .BackDiv {
    margin: 0 0 3px 0;
    height: 50px;
    display: flex; }
    #box1 .BackDiv img {
      margin: auto 0;
      height: 38px; }
    #box1 .BackDiv a {
      margin: auto 3px;
      font-size: 20px;
      font-weight: bold; }
  #box1 #user {
    display: flex;
    flex-direction: column;
    margin: 10px 5px; }
    #box1 #user a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      transition: 0.3s; }
      #box1 #user a .NowUserIcon {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 5px solid #00DE64; }
    #box1 #user a:hover {
      filter: drop-shadow(0px 0px 5px); }
    #box1 #user p {
      font-size: 20px;
      font-weight: bold;
      margin: 3px auto;
      color: #ffffff; }

ul {
  padding: 0; }

li {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 30px; }

li input {
  opacity: 0; }

li > label {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s; }

li > label:hover {
  color: #00DE64;
  text-decoration: underline; }

#box2 {
  width: 70%;
  height: 106%; }

#FavLabel {
  color: #00DE64; }

#UserProFile, #UserHistory, #UserUpload {
  display: none; }

#UserProFile {
  height: 450px;
  overflow-y: scroll; }

#UserProFile::-webkit-scrollbar {
  display: none; }

#IconBox div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }
  #IconBox div .UploadForm {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #IconBox div .UploadForm #FilenameText {
      color: #ffffff;
      font-weight: bold;
      font-size: 12px; }
    #IconBox div .UploadForm p {
      height: 30px;
      width: 180px;
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0 5px;
      padding: 5px;
      border-radius: 5px;
      background-color: #000000;
      border: 1px solid #00DE64;
      transition: 0.7s; }
      #IconBox div .UploadForm p label {
        display: none; }
      #IconBox div .UploadForm p #id_image {
        left: 0;
        top: 0;
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%; }
    #IconBox div .UploadForm p::after {
      content: '画像をアップロードする';
      margin-bottom: 3px;
      font-size: 15px;
      font-weight: bold;
      color: #00DE64;
      margin-top: 5px;
      transition: 0.7s; }
    #IconBox div .UploadForm p:hover {
      background-color: #ffffff; }
    #IconBox div .UploadForm p::after:hover {
      color: #000000; }

.NewUserIcon {
  width: 150px;
  height: 150px;
  margin: 0 5px;
  border: 1px solid #b7b7b7; }

#usernameBox {
  margin: 10px; }
  #usernameBox label {
    display: none; }
  #usernameBox input {
    width: 400px;
    height: 40px;
    margin: auto 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border: 1px solid #00DE64;
    background-color: #4e4e4e; }

.warningtext {
  font-weight: bold;
  color: #a50000;
  font-size: 15px;
  display: flex;
  justify-content: center; }

.warningbigtext {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  margin: 0; }

#ProfileBox > div:not(#profile) {
  margin: 10px 0 50px 0; }
  #ProfileBox > div:not(#profile) div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

.deleteBT {
  padding: 10px 35px;
  font-weight: bold;
  font-size: 15px;
  color: #a50000;
  background-color: #000000;
  border: 2px solid #a50000;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s; }

.deleteBT:hover {
  color: #ffffff;
  background-color: #a50000;
  border-radius: 50px;
  text-decoration: none; }

.NotdeleteBT {
  padding: 10px 35px;
  font-weight: bold;
  font-size: 1px;
  color: #a50000;
  background-color: #000000;
  border: 2px solid #a50000;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s; }

.NotdeleteBT:hover {
  color: #ffffff;
  background-color: #a50000;
  border-radius: 50px;
  text-decoration: none; }

.uploadMus {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px; }

.uploadMusbox {
  margin: 2px 6px;
  background: #2f2d2d;
  background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%);
  border-radius: 10px;
  border: solid 2px #323232;
  position: relative;
  transform: scale(0.8);
  transition: 0.3s; }

.uploadMusbox:hover {
  transform: scale(0.9); }

.layer {
  background: rgba(0, 0, 0, 0.2);
  /* 背景を薄くする */
  width: 100%;
  height: 100%;
  position: fixed;
  /* 画面に固定するために指定 */
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s; }

/* モーダルコンテンツ */
.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  min-width: 340px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s; }

.modal__inner {
  margin-top: 250px;
  margin-bottom: 125px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #000000;
  border: solid 1px #5a5a5a;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  /* モーダルにシャドウをかける */
  border-radius: 13px;
  /* モーダルの角を丸める */
  display: flex;
  padding: 21px 8px 21px;
  height: auto;
  justify-content: center; }
  .modal__inner .deleteBox {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center; }
    .modal__inner .deleteBox button, .modal__inner .deleteBox input {
      margin: 0 10px; }
  .modal__inner p {
    display: flex;
    justify-content: center; }

.layer.is-open {
  z-index: 999;
  opacity: 1;
  visibility: visible; }

.layer.is-open .modal {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px); }

.album {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; }

.albumbox {
  margin: 2px 6px;
  padding: 10px;
  background: #2f2d2d;
  background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%);
  border-radius: 10px;
  border: solid 2px #323232;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: 0.3s; }
  .albumbox .PlaySongBT, .albumbox .StopSongBT {
    position: initial; }
  .albumbox .alertbox {
    position: absolute;
    padding: 0 5px;
    right: 0;
    bottom: 0;
    background-color: #986868;
    display: flex;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    white-space: inherit;
    opacity: 0;
    transition: 0.4s; }

.albumbox:hover .alertbox {
  opacity: 0.9;
  transform: translateY(-10px); }

.album::-webkit-scrollbar {
  height: 10px; }

.album::-webkit-scrollbar-track {
  background-color: none; }

.album::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 10px; }

.artist-flex {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

.album_img {
  width: 80px;
  height: 80px;
  border: 2px solid #696969;
  border-radius: 5px; }

.AlbumNameBox {
  width: 100%; }
  .AlbumNameBox hr {
    background-color: #696969;
    width: 100%;
    height: 2px;
    border: none; }

.AlbumNameText {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  margin: 2px 5px; }
  .AlbumNameText a {
    transition: 0.2s;
    color: #ffffff; }
  .AlbumNameText a:hover {
    color: #00DE64; }

.AlbumNameTextMini {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 2px 5px; }

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    height: 100%; }

  #box1, #box2 {
    width: 100%; }

  #box2 {
    padding-bottom: 20px; }

  #usernameBox input {
    width: auto; }

  .NowUserIcon {
    margin: 3px auto;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid #00DE64; }

  #IconBox p {
    font-size: 10px;
    color: #ffffff;
    font-weight: normal; }

  p {
    font-size: 20px;
    font-weight: bold;
    margin: 3px auto;
    color: #ffffff; }

  ul {
    width: 100%;
    margin: 10px auto;
    white-space: nowrap;
    overflow-x: scroll;
    background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%); }
    ul li {
      display: flex;
      flex-direction: row;
      width: 95%;
      margin: 0 auto; }
    ul li > label {
      margin: 0 10px;
      font-size: 30px;
      text-decoration: none; }
      ul li > label input {
        display: none; }

  .modal__inner .deleteBox {
    flex-direction: column; }
    .modal__inner .deleteBox button {
      margin: 10px 0; } }

/*# sourceMappingURL=setting.css.map */
