{% extends "cwm/base.html" %}
{% load static %}
{% block title %}{{ artist.name }}{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/artist.css' %}">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <!--ここまで-->
        <div id="box1">
            <div class="artist">
                {% if artist.images %}
                    <img src="{{ artist.images.1.url }}" alt="">
                {% else %}
                    <img src="{% static 'img/users/baseuser.jpg'%}" alt="">
                {% endif %}
                <p class="bigtext">{{ artist.name }}</p>
            </div>
            <p class="bigtext">関連アーティスト</p>
            <div class="RelatedArtist">
                {% if related_artist %}
                {% for x in related_artist %}
                <div class="RArtistBox">
                    <a href="{% url 'artist' x.id %}" class="RArtist">
                        {% if x.images %}
                            <img src="{{ x.images.0.url }}" class="RArtistImage" alt="関連アーティスト画像">
                        {% else %}
                            <img src="{% static 'img/users/baseuser.jpg'%}" class="RArtistImage" alt="関連アーティスト画像">
                        {% endif %}
                    </a>
                        <h3 class="ArtistNameText"><a href="{% url 'artist' x.id %}">{{ x.name }}</a></h3>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div id="box2">
        <div class="artist-flex">
            <p class="bigtext">{{ artist.name }} Top10</p>
            <div class="toprank trackbox">
                {% if results %}
                {% for i in results %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic('{{ i.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.id %}">
                        <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="artist-flex">
            <p class="bigtext">アルバム</p>
            <div class="album">
                {% for i in artist_album.items %}
                <div class="albumbox">
                    <a href="{% url 'album' i.id %}">
                        <img src="{{ i.images.1.url }}" alt="画像" width="150" height="150" class="album_img">
                        <div class="AlbumNameBox">
                            <p class="AlbumNameText"><a href="{% url 'album' i.id %}">{{ i.name }}</a></p>
                            <hr>
                            <p class="AlbumNameTextMini">{{ i.artists.0.name }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
        var StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";
                
        let Spotify_logo = "{% static 'img/tmp/Spotify_Icon.png'%}";
        let CWM_logo = "{% static 'img/tmp/CWM_Icon.png'%}";
    </script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
</main>
{% endblock %}