{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <header>
        <h1 class="greentext">CWM(Connect With Music)</h1>
            <input type="search" name="search" placeholder="曲を検索">
            <p>CWMって？</p>
            <a href="#!" class="register">新規登録</a>
            <a href="#!" class="loginBT">ログイン</a>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <small>Copyright © 2023 Spotify AB. All rights reserved.</small>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>