{% extends "cwm/base.html" %}
{% load static %}
{% block title %}パスワード変更{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
    <div class="box1">
        <form id="RegForm" action="{% url 'changepassword' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="titletext">パスワードの変更</h1>
            <hr>
            <div class="FormBox">
                <p class="formtext">現在のパスワード</p>
                <input type="password" class="InputText" placeholder="現在のパスワード" name="oldpassword" id="oldpassword" required>
                <span class="PassAlert old">仮テキスト</span>
            </div>
            <div class="FormBox">
                <p class="formtext">現在のパスワード(確認)</p>
                <input type="password" class="InputText" placeholder="現在のパスワード(確認)" name="oldpasswordcheck" id="oldpasswordcheck" required>
                <span class="PassAlert oldcheck"></span>
            </div>
            <hr>
            <div class="FormBox">
                <p class="formtext">新しいパスワード</p>
                <input type="password" class="InputText" placeholder="新しいパスワード" name="newpassword" id="newpassword" required>
                <span class="PassAlert new"></span>
            </div>
            <div class="FormBox">
                <p class="formtext">新しいパスワード(確認)</p>
                <input type="password" class="InputText" placeholder="新しいパスワード(確認)" name="newpasswordcheck" id="newpasswordcheck" required>
                <span class="PassAlert newcheck"></span>
            </div>
            <div class="FormBox">
                <div class="SubBTBox">
                    <input type="submit" class="loginBT" id="submit" value="パスワードを変更する">
                </div>
            </div>
            <hr>
            <div class="linkbox">
                <p class="descText">パスワードを忘れてしまった場合は<a class="greentext" href="{% url 'register' %}">メールを送信</a></p>
            </div>
        </form>
    </div>
    <script src="{% static 'js/setting.js' %}"></script>
    <script src="{% static 'js/setpass.js' %}"></script>
</main>
{% endblock %}