{% extends "cwm/base.html" %}
{% load static %}
{% block title %}index{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <!--ここまで-->
        <p class="bigtext">おすすめ</p>
        <div class="trackbox toprank">
            {% if oridinal %}
                {% for l in oridinal %}
                    <div class="songbox {{ l.ispremium }}_songbox">
                        <button class="PlaySongBT" type="button" value="{{ l.preview_url }}" onclick="PlayMusic( '{{ l.preview_url }}', this )">
                            <img src="{% static 'img/tmp/play_green.png' %}">
                        </button>
                        <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                        <a href="{% url 'mus' l.id %}">
                            <img id="{{l.id}}" src="{{ l.album.img.0.url }}" class="music_img" width="150" height="150">
                        </a>
                        <h3 class="SongNameText"><a class="ScrollText" href="{% url 'mus' l.id %}" class="ScrollText">{{ l.name }}</a></h3>
                        <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'artist' l.artists.0.id %}">{{l.artists.0.name}}</a></h3>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <p class="bigtext">CWMオリジナル曲</p>
        <div id="trackbox" class="trackbox toprank">
            {% if oridinal %}
                {% for l in oridinal %}
                    <div class="songbox {{ l.ispremium }}_songbox">
                        <button class="PlaySongBT" type="button" value="{{ l.preview_url }}" onclick="PlayMusic( '{{ l.preview_url }}', this )">
                            <img src="{% static 'img/tmp/play_green.png' %}">
                        </button>
                        <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                        <a href="{% url 'mus' l.id %}">
                            <img id="{{l.id}}" src="{{ l.album.img.0.url }}" class="music_img" width="150" height="150">
                        </a>
                        <h3 class="SongNameText"><a class="ScrollText" href="{% url 'mus' l.id %}" class="ScrollText">{{ l.name }}</a></h3>
                        <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'artist' l.artists.0.id %}">{{l.artists.0.name}}</a></h3>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <p class="bigtext">評価が高い曲</p>
        <div class="trackbox toprank">
            {% if results2 %}
            {% for y in results2 %}
            <div class="songbox {{y.track.ispremium }}_songbox">
            <button class="PlaySongBT" type="button" value="{{ y.track.preview_url }}" onclick="PlayMusic('{{ y.track.preview_url }}',this);">
                <img src="{% static 'img/tmp/play_green.png' %}">
            </button>
            <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
            <a href="{% url 'mus' y.track.id %}">
                <img id="{{y.track.id}}" class="music_img" src="{{y.track.album.images.0.url}}" width="150" height="150" class="" alt="">
            </a>
                <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'mus' y.track.id %}">{{y.track.name}}</a></h3>
                <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'artist' y.track.artists.0.id %}">{{y.track.artists.0.name}}</a></h3>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- <p class="bigtext">いいねが多い曲</p>
    <div class="trackbox toprank">
    </div> -->
    <p class="bigtext">コメント数が多い曲</p>
    <div class="trackbox toprank">
        {% if comment_mus %}
            {% for i in comment_mus %}
                <div class="songbox {{i.track.ispremium }}_songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.track.preview_url }}" onclick="PlayMusic( '{{ i.track.preview_url }}', this );">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.track.id %}">
                        <img id="{{i.track.id}}" class="music_img" src="{{ i.track.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.track.id %}" class="ScrollText">{{ i.track.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.track.artists.0.id %}" class="ScrollText">{{ i.track.artists.0.name }}</a></h3>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <p class="bigtext">いいね数が多い曲</p>
    <div class="trackbox toprank">
        {% for i in good_mus %}
            <div class="songbox {{i.track.ispremium }}_songbox">
                <button class="PlaySongBT" type="button" value="{{ i.track.preview_url }}" onclick="PlayMusic('{{ i.track.preview_url }}', this)">
                    <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                </button>
                <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                <a href="{% url 'mus' i.track.id %}">
                    <img id="{{i.track.id}}" class="music_img" src="{{ i.track.album.images.0.url }}" width="150" height="150" alt="">
                </a>
                <h3 class="SongNameText"><a href="{% url 'mus' i.track.id %}" class="ScrollText">{{ i.track.name }}</a></h3>
                <h3 class="SongNameText"><a href="{% url 'artist' i.track.artists.0.id %}" class="ScrollText">{{ i.track.artists.0.name }}</a></h3>
            </div>
        {% endfor %}
    </div>
    <p class="bigtext">Spotifyトップ10</p>
    <div class="trackbox toprank">
        {% if results %}
        {% for x in results %}
        <div class="songbox">
            <button class="PlaySongBT" type="button" value="{{ x.track.preview_url }}" onclick="PlayMusic('{{ x.track.preview_url }}',this);">
                <img src="{% static 'img/tmp/play_green.png' %}">
            </button>
            <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
            <a href="{% url 'mus' x.track.id %}">
                <img id="{{x.track.id}}" class="music_img" src="{{x.track.album.images.0.url}}" width="150" height="150" class="" alt="">
            </a>
                <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'mus' x.track.id %}">{{x.track.name}}</a></h3>
                <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'artist' x.track.artists.0.id %}">{{x.track.artists.0.name}}</a></h3>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
        <p class="bigtext">最近見た曲</p>
        <div class="trackbox toprank">
            {% for i in history %}
                <div class="songbox {{i.ispremium }}_songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic('{{ i.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.id %}">
                        <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
                </div>
            {% endfor %}
        </div>
        <p class="bigtext">いいねした曲</p>
        <div class="trackbox toprank">
            {% for i in like %}
            <div class="songbox {{i.ispremium }}_songbox">
                <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic('{{ i.preview_url }}',this);">
                    <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                </button>
                <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                <a href="{% url 'mus' i.id %}">
                    <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                </a>
                <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
            </div>
            {% endfor %}
        </div>
        <p class="bigtext">評価した曲</p>
        <div class="trackbox toprank">
            {% for i in star_mus %}
                <div class="songbox {{i.ispremium }}_songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic( '{{ i.preview_url }}', this )">
                        <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.id %}">
                        <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
                </div>
            {% endfor %}
        </div>
        <p class="bigtext">コメントした曲</p>
        <div class="trackbox toprank">
            {% for i in ucomment_mus %}
                <div class="songbox {{i.ispremium }}_songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic( '{{ i.preview_url }}', this )">
                        <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.id %}">
                        <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <p class="bigtext">人気のタグ</p>
    <div class="tags">
        {% for i in tags %}
        <a href="{% url 'result' %}?search-music={{ i.tag_name }}">
            <div class="tag">
                <span class="tag-name">#{{ i.tag_name }}</span>
                <span class="tag-num">({{ i.tag_num }})</span>
            </div>
        </a>
        {% endfor %}
        {% if not tags %}
            <span style="color: white; font-size: 32px; margin-left: 15px; margin-top: 10px;">まだタグがありません</span>
        {% endif %}
    </div>
    <!-- <div class="MiniPlayer" onclick="PlayMusic()"></div> -->
    <script type="text/javascript">
        let PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
        let StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";

        let Spotify_logo = "{% static 'img/tmp/Spotify_Icon.png'%}";
        let CWM_logo = "{% static 'img/tmp/CWM_Icon.png'%}";
    </script>
    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</main>
{% endblock %}