{% extends "cwm/base.html" %}
{% load static %}
{% block title %}index{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <!--ここまで-->
        <p class="bigtext">トップ10</p>
        <div id="trackbox" class="toprank">
            {% if results %}
            {% for x in results %}
            <div class="songbox">
                <button class="PlaySongBT" type="button" value="{{ x.track.preview_url }}" onclick="PlayMusic('{{ x.track.preview_url }}',this);">
                    <img src="{% static 'img/tmp/play_green.png' %}">
                </button>
                <a href="{% url 'mus' x.track.id %}">
                    <img class="music_img" src="{{x.track.album.images.0.url}}" width="150" height="150" class="" alt="">
                </a>
                    <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' x.track.id %}">{{x.track.name}}</a></h3>
                    <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' x.track.artists.0.id %}">{{x.track.artists.0.name}}</a></h3>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <p class="bigtext">評価が高い曲</p>
        <div id="trackbox" class="toprank">
            {% if results2 %}
            {% for y in results2 %}
            <div class="songbox">
            <button class="PlaySongBT" type="button" value="{{ y.track.preview_url }}" onclick="PlayMusic('{{ y.track.preview_url }}',this);">
                <img src="{% static 'img/tmp/play_green.png' %}">
            </button>
            <a href="{% url 'mus' y.track.id %}">
                <img class="music_img" src="{{y.track.album.images.0.url}}" width="150" height="150" class="" alt="">
            </a>
                <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' y.track.id %}">{{y.track.name}}</a></h3>
                <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' y.track.artists.0.id %}">{{y.track.artists.0.name}}</a></h3>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <p class="bigtext">一覧ページ3</p>
    <div id="trackbox" class="toprank">
        {% if results3 %}
        {% for z in results3 %}
        <div class="songbox">
            <button class="PlaySongBT" type="button" value="{{ z.preview_url }}" onclick="PlayMusic('{{ z.preview_url }}',this);">
                <img src="{% static 'img/tmp/play_green.png' %}">
            </button>
            <a href="{% url 'mus' z.id %}">
                <img class="music_img" src="{{z.album.images.0.url}}" width="150" height="150" class="" alt="">
            </a>
                <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' z.id %}">{{z.name}}</a></h3>
                <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' z.artists.0.id %}">{{z.artists.0.name}}</a></h3>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="MiniPlayer" onclick="PlayMusic()"></div>
    <script type="text/javascript">
        var PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
        var StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";
    </script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
</main>
{% endblock %}