{% extends "cwm/base.html" %}
{% load static %}
{% block title %}index{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <p class="bigtext">一覧ページ</p>
    <div id="trackbox" class="toprank">
        <!--試しにFake typeの人気順に表示する-->
        {% if results %}
        {% for x in results %}
        <div class="songbox">
            <button class="PlaySongBT" type="button" onclick="PlayMusic('{{ x.preview_url }}'); IsPlayTex(this);">
                <img src="{% static 'img/tmp/play_green.png' %}">
            </button>
            <img class="music_img" src="{{x.album.images.0.url}}" width="150" height="150" class="" alt="">
            <h3 class="SongNameText" >{{x.artists.0.name}}</h3>
            <h3 class="SongNameText" >{{x.name}}</h3>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</main>
{% endblock %}