{% extends "cwm/base.html" %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <div class="box1">
        <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
            <h1 class="titletext">CMWにログイン</h1>
            <hr>
            <div class="FormBox">
                <p class="formtext">ユーザー名</p>
                <input type="text" class="InputText" placeholder="ユーザー名">
            </div>
            <div class="FormBox">
                <p class="formtext">メールアドレス</p>
                <input type="email" class="InputText" placeholder="メールアドレス">
            </div>
            <div class="FormBox">
                <p class="formtext">パスワード</p>
                <input type="password" class="InputText" placeholder="パスワード">
            </div>
            <div class="FormBox">
                <div>
                    <div class="ImageForm">
                        <img id="NewUserIcon" class="NewUserIcon" src="{% static 'img/users/仮アイコン.jpg'%}" alt="ユーザーアイコン">
                        <div class="UploadImageBox">
                            <span id="FilenameText">アイコンを設定してください</span>
                            <p>
                                <input type="file" name="image" accept="image/*" required="" id="id_image">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="linkbox">
                <p class="descText">アカウントをお持ちでない方は</p><a class="greentext" href="{% url 'register' %}">新規登録</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}