{% extends "cwm/base.html" %}
{% load static %}
{% block title %}login{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <div class="box1">
        <form id="RegForm" action="{% url 'Login' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="titletext">CMWにログイン</h1>
            <hr>
            <div class="FormBox">
                <p class="formtext">メールアドレス</p>
                <!-- {{viewsで置き換えておく}}-->
                <input type="email" class="InputText" placeholder="メールアドレス" name="email">
            </div>
            <div class="FormBox">
                <p class="formtext">パスワード</p>
                <!-- {{viewsで置き換えておく}}-->
                <input type="password" class="InputText" placeholder="パスワード" name="password">
            </div>
            <div class="FormBox">
                <div class="SubBTBox">
                    <!-- {{viewsで置き換えておく}}-->
                    <input type="submit" class="loginBT" id="submit" value="ログイン">
                </div>
            </div>
            <hr>
            <div class="linkbox">
                <p class="descText">アカウントをお持ちでない方は　　　<a class="greentext" href="{% url 'register' %}">新規登録</a></p>
                <p class="descText">パスワードを忘れてしまった場合は<a class="greentext" href="{% url 'changepassword'%}">パスワード変更</a></p>
            </div>
        </form>
    </div>
    <script src="{% static 'js/setting.js' %}"></script>
</main>
{% endblock %}