{% extends "cwm/base.html" %}
{% load static %}
{% block title %}music{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/music.css' %}">
<main class="main-test">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <script src="{% static 'js/loading.js' %}"></script>
        <!--ここまで-->
    <div class="music-main">
        <div id="spotify-iframe"></div>
        <div class="likes">
            <div class="stars">
            </div>
            <div class="like">
                <span class="eval">いいね：</span><img src="{% static 'img/tmp/heart_black.png' %}" style="margin-left: 5px;" width="30" height="30">
            </div>
        </div>
        <div class="album-name">
            アルバム: <span class="album-title"><a href="{% url 'album' track_result.album.id %}">{{ track_result.album.name }}</a></span>
        </div>
        <div class="artist-name">
            アーティスト: <span class="artist-title"><a href="{% url 'artist' track_result.artists.0.id %}">{{ track_result.artists.0.name }}</a></span>
        </div>
        <div class="shere">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="私は {{ track_result.name }} を聴いています" data-hashtags="cwm,{{ track_result.artists.0.name }}" data-size="large" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="http://localhost:8000/index" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
            <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
        <div class="tags">
            {% for t in tags %}
                <span class="t">#{{ t }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% endfor %}
        </div>
    </div>
    <div class="comments">
        {% if request.user.is_authenticated %}
            <form action="{% url 'create' track_result.id %}" method="post" id="create">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="submit" value="投稿">
            </form>
        {% endif %}
        <h2 id="c-title">コメント</h2>
        {% if is_comment %}
            {% for item in model %}
                <div class="comment-box">
                    <img src="{{ item.user_image.url }}" alt="ユーザの画像" width="50" height="50" style="border-radius: 50%;">
                    <div class="user-name">{{ item.user_name }}</div>
                    <div class="comment-text" id="c-{{ item.comment_id }}">{{ item.comment_text | linebreaks }}</div>
                    {% if request.user.email == item.user_mail and request.user.is_authenticated %}
                        <form action="{% url 'delete' track_result.id item.comment_id %}" method="post" class="delete-form">
                            {% csrf_token %}
                            <input type="submit" name="submit" value="削除">
                        </form>
                        <form action="{% url 'edit' track_result.id item.comment_id %}" method="post" class="edit-form" style="display: none;">
                            {% csrf_token %}
                            <textarea name="edit_content" cols="30" rows="10">{{ item.comment_text }}</textarea>
                            <input type="submit" name="submit" value="変更">
                        </form>
                        <input type="button" class="edit-btn" value="編集">
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
    const star_eval = ()=>{
        for( let i = 0;i < document.getElementsByClassName( 'eval-btn' ).length;i ++ ){
            document.getElementsByClassName( 'eval-btn' )[ i ].addEventListener( 'click', ( e )=>{
                e.preventDefault();//ページ遷移処理を止める
                const url = '{% url "star" track_result.id %}';
                const data = {
                    number: i
                };
                fetch( url, {
                    method: 'POST',
                    body: `star_n=${JSON.stringify( data )}`,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                } ).then( response => {
                    return response.json();
                } ).then( response => {
                    init_star( response.ave_star, response.user_star );
                } ).catch( error => {
                    console.log( error );
                } )
            } )
        }
    }
    const init_star = ( a = '{{ ave_star }}', u = '{{ user_star }}' )=>{
        const a_s = a;
        const u_s = u;
        const star_img_green = "<img src='{% static 'img/tmp/star_green.png' %}'>";
        const star_img_linegreen = "<img src='{% static 'img/tmp/greenlinestar.png' %}'>"
        const star_img_black = "<img src='{% static 'img/tmp/star_black.png' %}'>";
        let ver_arr = new Array( 5 );
        for( let i = 0;i < 5;i ++ ){
            let sp = document.createElement( 'span' );
            sp.setAttribute( 'class', 'eval-btn' );
            if( i < a_s && i < u_s ){
                sp.innerHTML = star_img_green;
                ver_arr[ i ] = sp.outerHTML;
                continue;
            }else if( i < a_s ){
                sp.innerHTML = star_img_linegreen;
                ver_arr[ i ] = sp.outerHTML;
                continue;
            }else if( i < u_s ){
                sp.innerHTML = star_img_green;
                ver_arr[ i ] = sp.outerHTML;
                continue;
            }else{
                sp.innerHTML = star_img_black;
                ver_arr[ i ] = sp.outerHTML;
            }
        }
        document.querySelector( '.stars' ).innerHTML = '<span class="eval">評価：</span>';
        for( let i = 0;i < 5;i ++ ){
            document.querySelector( '.stars' ).innerHTML += ver_arr[ i ];
        }
        document.querySelector( '.stars' ).innerHTML += `<br><span class="eval-num">みんなの評価:${ a }/5</span>`;
        setTimeout( star_eval, 1000 );
    }
    window.onSpotifyIframeApiReady = ( IFrameAPI ) => {
        init_star();
        
        const elem = document.getElementById( 'spotify-iframe' );
        const options = {
            width: '95%',
            height: '700',
            uri: '{{ track_result.uri }}'
        }
        const callback = ( EmbedController ) => {
            EmbedController.addListener('ready', () => {
                loading.classList.add( 'loaded' );
            }, false );
        }
        IFrameAPI.createController( elem, options, callback );
    }
</script>
<script src="{% static 'js/music.js' %}"></script>
{% endblock %}