{% extends "cwm/base.html" %}
{% load static %}
{% block title %}新規登録{% endblock %}
{% block content %}
<main>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="box1">
        <form id="RegForm" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="titletext">CWMに新規登録</h1>
            <hr>
            <div class="FormBox">
                <p class="formtext">ユーザー名</p>
                <input type="text" class="InputText" placeholder="ユーザー名" name="username" required id="id_username">
            </div>
            <div class="FormBox">
                <p class="formtext">メールアドレス</p>
                <input type="email" class="InputText" placeholder="メールアドレス" name="email" required id="id_email">
            </div>
            <div class="FormBox">
                <p class="formtext">パスワード</p>
                <input type="password" class="InputText" placeholder="パスワード" name="password" required id="id_password">
                <span onclick="PassLook()" id="PassLook">
                    <img src="{% static 'img/tmp/eye_open.png' %}" alt="eye">
                </span>
                <span class="PassAlert new"></span>
            </div>
            <div class="FormBox">
                <p class="formtext">パスワード(確認)</p>
                <input type="password" class="InputText" placeholder="パスワード(確認)" name="password" required id="id_passwordcheck">
                <span class="PassAlert newcheck"></span>
            </div>
            <div class="FormBox">
                <div class="SubBTBox">
                    <input type="submit" class="loginBT" id="submit" value="新規登録">
                </div>
            </div>
            <hr>
            <div class="linkbox">
                <p class="descText">アカウントをすでにお持ちの方は</p><a class="greentext" href="{% url 'Login' %}">ログイン</a>
            </div>
        </form>
    </div>
    <script src="{% static 'js/setting.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script type="text/javascript">
        var eye_opentex = "<img src='{% static 'img/tmp/eye_open.png' %}'>";
        var eye_closetex = "<img src='{% static 'img/tmp/eye_close.png' %}'>";
    </script>
</main>
{% endblock %}