{% extends "cwm/base.html" %}
{% load static %}
{% block title %}設定{% endblock %}
{% block content %}
<meta http-equiv="Cache-Control" content="no-cache">
<main>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <!--ここまで-->
        <div class="layer js-modal">
            <div class="modal">
                <div class="modal__inner">
                    <div class="modal__contents">
                        <div class="modal__content">
                            <p class="warningbigtext">本当にアカウントを削除しますか？</p>
                            <span class="warningtext">※一度削除したアカウントのデータは復旧する事が出来ません。</span>
                            <form class="deleteBox" action="{% url 'setting' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" name="UserDlt" class="deleteBT" id="submit" value="アカウントを削除する">
                                <button type="button" class="loginBT" id="NotdeleteBT" value="delete">アカウントを削除しない</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="box1">
        <!--
        <div class="BackDiv">
            <img src="{% static 'img/tmp/back.png' %}" alt="backimage">
            <a href="#">戻る</a>
        </div>
        -->
        <div id="user">
            <img class="NowUserIcon" src="{{ data.0.image.url }}" alt="現在のユーザーアイコン">
            <p>{{ data.0.username }}</p>
        </div>
        <ul>
            <li>
                <label id="FavLabel"><input type="radio" class="UserRadioBox" name="link" checked></input>いいねした曲</label>
                <label id="HisLabel"><input type="radio" class="UserRadioBox" name="link"></input>履歴</label>
                <label id="SetLabel"><input type="radio" class="UserRadioBox" name="link"></input>設定</label>
                <label id="UplLabel"><input type="radio" class="UserRadioBox" name="link"></input>投稿した曲</label>
            </li>
        </ul>
    </div>
    <div id="box2">
        <div id="UserFavorite">
            <p class="bigtext">いいねした曲</p>
            <div id="trackbox" class="toprank">
                {% if results %}
                {% for x in results %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ x.preview_url }}" onclick="PlayMusic('{{ x.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <a href="{% url 'mus' x.id %}">
                        <img class="music_img" src="{{x.album.images.0.url}}" width="150" height="150" class="" alt="">
                    </a>
                        <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' x.id %}">{{x.name}}</a></h3>
                        <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' x.artists.0.id %}">{{x.artists.0.name}}</a></h3>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">いいねしている曲がありません</p>
                {% endif %}
            </div>
        </div>
        <div id="UserProFile">
            <form id="ProfileBox" action="{% url 'setting' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="profile">
                    <!--プロフィールdiv-->
                    <p class="bigtext">プロフィール画像</p>
                    <div id="IconBox">
                        <div>
                            <img id="NewUserIcon" class="NewUserIcon" src="{{ data.0.image.url }}" alt="選択ユーザーアイコン">
                            <div class="UploadForm">
                                <span id="FilenameText">アイコンを設定してください</span>
                                <p>
                                    <label for="id_image">Image:</label> 
                                    <input type="file" name="image" accept="image/*" id="id_image">
                                </p>
                            </div>
                        </div>
                        <p class="greentext">※画像のサイズは 1:1 にすることを推奨します</p>
                    </div>
                </div>
                <div id="username">
                    <!--プロフィールdiv-->
                    <p class="bigtext">ユーザー名変更</p>
                    <div id="usernameBox">
                        {{ username_form.as_div}}
                    </div>
                </div>
                <div id="userpassword">
                    <p class="bigtext">パスワード変更</p>
                    <div id="userpasswordBox">
                        <h3 class="SongNameText"><a href="{% url 'changepassword'%}">パスワードを変更する場合はこちら</a></h3>
                    </div>
                </div>
                <div id="userdelete">
                    <p class="bigtext">アカウント削除</p>
                    <div id="userdeleteBox">
                        <button type="button" class="registerBT" id="firstdeleteBT" value="delete">アカウントを削除する</button>
                    </div>
                </div>
                <input type="submit" name="UserSubmit" class="loginBT" id="submit" value="変更を確定する">
            </form>
        </div>
        <div id="UserHistory">
            <p class="bigtext">履歴</p>
            <div id="trackbox" class="toprank">
                {% if results2 %}
                {% for y in results2 %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ y.preview_url }}" onclick="PlayMusic('{{ y.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <a href="{% url 'mus' y.id %}">
                        <img class="music_img" src="{{y.album.images.0.url}}" width="150" height="150" class="" alt="">
                    </a>
                        <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' y.id %}">{{y.name}}</a></h3>
                        <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' y.artists.0.id %}">{{y.artists.0.name}}</a></h3>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">履歴がありません</p>
                {% endif %}
            </div>
        </div>
        <div id="UserUpload">
            <p class="bigtext">投稿した曲</p>
            <!--
            <div id="trackbox" class="toprank">
                {% if results2 %}
                {% for y in results2 %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ y.preview_url }}" onclick="PlayMusic('{{ y.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <a href="{% url 'mus' y.id %}">
                        <img class="music_img" src="{{y.album.images.0.url}}" width="150" height="150" class="" alt="">
                    </a>
                        <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' y.id %}">{{y.name}}</a></h3>
                        <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' y.artists.0.id %}">{{y.artists.0.name}}</a></h3>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">履歴がありません</p>
                {% endif %}-->
                <div id="trackbox" class="toprank">
                    <div class="songbox">
                        <button class="PlaySongBT" type="button" value="{{ MyMusic.0.music_track_full.url }}" onclick="PlayMusic('{{ MyMusic.0.music_track_preview.url }}',this);">
                            <img src="{% static 'img/tmp/play_green.png' %}">
                        </button>
                        <a href="{% url 'mus' MyMusic.0.music_id %}">
                            <img class="music_img" src="{{MyAlbum.0.album_image.url}}" width="150" height="150" class="" alt="">
                        </a>
                            <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'mus' MyMusic.0.music_id %}">{{MyMusic.0.music_name}}</a></h3>
                            <h3 class="SongNameText" ><a id="ScrollText" href="{% url 'artist' MyAlbum.0.album_userid %}">{{request.user.username}}</a></h3>
                    </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
        var StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";
        </script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/setting.js' %}"></script>
</main>
{% endblock %}