{% extends "cwm/base.html" %}
{% load static %}
{% block title %}設定{% endblock %}
{% block content %}
<meta http-equiv="Cache-Control" content="no-cache">
<main>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <script src="{% static 'js/loading.js' %}"></script>
        <!--ここまで-->
    <div id="box1">
        <div class="BackDiv">
            <img src="{% static 'img/tmp/back.png' %}" alt="backimage">
            <a href="#">戻る</a>
        </div>
        <div id="user">
            <img class="NowUserIcon" src="{{ data.0.user_image.url }}" alt="現在のユーザーアイコン">
            <p>{{ data.0.user_name }}</p>
        </div>
        <ul>
            <li> 
                <label id="FavLabel"><input type="radio" class="UserRadioBox" name="link" checked></input>お気に入り</label>
                <label id="HisLabel"><input type="radio" class="UserRadioBox" name="link"></input>履歴</label>
                <label id="SetLabel"><input type="radio" class="UserRadioBox" name="link"></input>設定</label>
            </li>
        </ul>
    </div>
    <div id="box2">
        <div id="UserFavorite">
            <p class="bigtext">お気に入り</p>
            <div id="trackbox" class="toprank">
                {% if results %}
                {% for x in results %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ x.preview_url }}" onclick="PlayMusic('{{ x.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <a href="{% url 'mus' x.id %}">
                        <img class="music_img" src="{{x.album.images.0.url}}" width="150" height="150" class="" alt="">
                        <h3 class="SongNameText" ><a href="{% url 'mus' x.id %}">{{x.name}}</a></h3>
                        <h3 class="SongNameText" ><a href="{% url 'artist' x.artists.0.id %}">{{x.artists.0.name}}</a></h3>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">お気に入り登録している曲がありません</p>
                {% endif %}
            </div>
        </div>
        <div id="UserProFile">
            <form id="ProfileBox" action="{% url 'setting' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="profile">
                    <!--プロフィールdiv-->
                    <p class="bigtext">プロフィール画像</p>
                    <div id="IconBox">
                        <div>
                            <img id="NewUserIcon" class="NewUserIcon" src="{{ data.0.user_image.url }}" alt="選択ユーザーアイコン">
                            <div class="UploadForm">
                                <span id="FilenameText">アイコンを設定してください</span>
                                {{ upload_form.as_p }}
                            </div>
                        </div>
                        <p class="greentext">※画像のサイズは 1:1 にすることを推奨します</p>
                    </div>
                </div>
                <div id="username">
                    <!--プロフィールdiv-->
                    <p class="bigtext">ユーザー名変更</p>
                    <div id="usernameBox">
                        {{ username_form.as_div}}
                    </div>
                </div>
                <input type="submit" class="loginBT" id="submit" value="変更を確定する">
            </form>
        </div>
        <div id="UserHistory">
            <p class="bigtext">履歴</p>
            <div id="trackbox" class="toprank">
                {% if results2 %}
                {% for y in results2 %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ y.preview_url }}" onclick="PlayMusic('{{ y.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <a href="{% url 'mus' y.id %}">
                        <img class="music_img" src="{{y.album.images.0.url}}" width="150" height="150" class="" alt="">
                        <h3 class="SongNameText" ><a href="{% url 'mus' y.id %}">{{y.name}}</a></h3>
                        <h3 class="SongNameText" ><a href="{% url 'artist' y.artists.0.id %}">{{y.artists.0.name}}</a></h3>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">履歴がありません</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
        var StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";
    </script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/setting.js' %}"></script>
</main>
{% endblock %}