{% extends "cwm/base.html" %}
{% load static %}
{% block title %}設定{% endblock %}
{% block content %}
<meta http-equiv="Cache-Control" content="no-cache">
<main>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <!--ローディング画面ここから-->
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <div id="loading">
            <div class="logo">
                <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
                <span>Connect With Music</span>
            </div>
            <div class="fingerprint-spinner">
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
                <div class="spinner-ring"></div>
            </div>
        </div>
        <!--ここまで-->
        <div class="layer js-modal">
            <div class="modal">
                <div class="modal__inner">
                    <div class="modal__contents">
                        <div class="modal__content">
                            <p class="warningbigtext">本当にアカウントを削除しますか？</p>
                            <span class="warningtext">※一度削除したアカウントのデータは復旧する事が出来ません。</span>
                            <form class="deleteBox" action="{% url 'setting' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" name="UserDlt" class="deleteBT" id="submit" value="アカウントを削除する">
                                <button type="button" class="loginBT" id="NotdeleteBT" value="delete">アカウントを削除しない</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div id="box1">
        <!--
        <div class="BackDiv">
            <img src="{% static 'img/tmp/back.png' %}" alt="backimage">
            <a href="#">戻る</a>
        </div>
        -->
        <div id="user">
            <a href="{% url 'user' data.0.userid %}">
                <img class="NowUserIcon" src="{{ data.0.image.url }}" alt="現在のユーザーアイコン">
            </a>
            <p>{{ data.0.username }}</p>
        </div>
        <ul>
            <li>
                <label id="FavLabel"><input type="radio" class="UserRadioBox" name="link"></input>いいねした曲</label>
                <label id="HisLabel"><input type="radio" class="UserRadioBox" name="link"></input>履歴</label>
                <label id="SetLabel"><input type="radio" class="UserRadioBox" name="link" checked></input>設定</label>
                <label id="UplLabel"><input type="radio" class="UserRadioBox" name="link"></input>投稿した曲</label>
            </li>
        </ul>
    </div>
    <div id="box2">
        <div id="UserFavorite">
            <p class="bigtext">いいねした曲</p>
            <div class="toprank trackbox">
                {% if results %}
                {% for i in results %}
                <div class="songbox {{ i.ispremium }}_songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic('{{ i.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.id %}">
                        <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">いいねしている曲がありません</p>
                {% endif %}
            </div>
        </div>
        <div id="UserProFile">
            <form id="ProfileBox" action="{% url 'setting' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="profile">
                    <!--プロフィールdiv-->
                    <p class="bigtext">プロフィール画像</p>
                    <div id="IconBox">
                        <div>
                            <img id="NewUserIcon" class="NewUserIcon" src="{{ data.0.image.url }}" alt="選択ユーザーアイコン">
                            <div class="UploadForm">
                                <span id="FilenameText">アイコンを設定してください</span>
                                <p>
                                    <label for="id_image">Image:</label> 
                                    <input type="file" name="image" accept="image/*" id="id_image">
                                </p>
                            </div>
                        </div>
                        <p class="greentext">※画像のサイズは 1:1 にすることを推奨します</p>
                    </div>
                </div>
                <div id="username">
                    <!--プロフィールdiv-->
                    <p class="bigtext">ユーザー名変更</p>
                    <div id="usernameBox">
                        {{ username_form.as_div}}
                    </div>
                    <input type="submit" name="UserSubmit" class="loginBT" id="submit" value="変更を確定する">
                </div>
                <div id="userpassword">
                    <p class="bigtext">パスワード変更</p>
                    <div id="userpasswordBox">
                        <a class="registerBT" href="{% url 'changepassword'%}">パスワードを変更する</a>
                    </div>
                </div>
                <div id="userlogout">
                    <p class="bigtext">ログアウト</p>
                    <div id="userlogoutBT">
                        <a class="registerBT" onclick="alert('ログアウトします。')" href="{% url 'Logout' %}">ログアウト</a>
                    </div>
                </div>
                <div id="userdelete">
                    <p class="bigtext">アカウント削除</p>
                    <div id="userdeleteBox">
                        <button type="button" class="registerBT" id="firstdeleteBT" value="delete">アカウントを削除する</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="UserHistory">
            <p class="bigtext">履歴</p>
            <div class="toprank trackbox">
                {% if results2 %}
                {% for i in results2 %}
                <div class="songbox {{ i.ispremium }}_songbox">
                    <button class="PlaySongBT" type="button" value="{{ i.preview_url }}" onclick="PlayMusic('{{ i.preview_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}" alt="プレイボタン">
                    </button>
                    <img class="Site_Logo" src="{% static 'img/tmp/Spotify_Icon.png'%}">
                    <a href="{% url 'mus' i.id %}">
                        <img id="{{i.id}}" class="music_img" src="{{ i.album.images.0.url }}" width="150" height="150" alt="">
                    </a>
                    <h3 class="SongNameText"><a href="{% url 'mus' i.id %}" class="ScrollText">{{ i.name }}</a></h3>
                    <h3 class="SongNameText"><a href="{% url 'artist' i.artists.0.id %}" class="ScrollText">{{ i.artists.0.name }}</a></h3>
                </div>
                {% endfor %}
                {% else %}
                <p class="bigtext">履歴がありません</p>
                {% endif %}
            </div>
        </div>
        <div id="UserUpload">
            <p class="bigtext">投稿した曲</p>
            <div class="toprank trackbox">
                <div class="uploadMusbox">
                    <a href="{% url 'upload' %}">
                        <img class="music_img" src="{% static 'img/tmp/plus_big.png' %}" width="150" height="150" class="" alt="">
                    </a>
                    <h3><a href="{% url 'upload' %}" class="uploadMus">音楽をアップロード</a></h3>
                </div>
                {% if Uploadresult %}
                {% for y in Uploadresult %}
                <div class="songbox">
                    <button class="PlaySongBT" type="button" value="{{ y.music_track_pre_url }}" onclick="PlayMusic('{{ y.music_track_full_url }}',this);">
                        <img src="{% static 'img/tmp/play_green.png' %}">
                    </button>
                    <a href="{% url 'mus' y.music_id %}">
                        <img class="music_img" src="{{y.album_image_url}}" width="150" height="150" class="" alt="">
                    </a>
                        <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'mus' y.music_id %}">{{y.music_name}}</a></h3>
                        <h3 class="SongNameText" ><a class="ScrollText" href="{% url 'artist' y.album_userid %}">{{y.name}}</a></h3>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
        var StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";
        
        let Spotify_logo = "{% static 'img/tmp/Spotify_Icon.png'%}";
        let CWM_logo = "{% static 'img/tmp/CWM_Icon.png'%}";
        </script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/setting.js' %}"></script>
</main>
{% endblock %}